@charset "UTF-8";

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Epilogue", sans-serif;
  background-color: #fdf0e9;
}

.container {
  width: 87.73333%;
  margin: 0 auto;
}

@media (min-width: 1040px) {
  .container {
    width: 81.25%;
  }
}

@media (min-width: 1840px) {
  .container {
    width: 1570px;
  }
}

.header {
  background-color: #28293e;
}

.header__container {
  padding-bottom: 95px;
}

@media (min-width: 1040px) {
  .header__container {
    padding-bottom: 108px;
  }
}

.header__head {
  padding-top: 9.6px;
}

@media (min-width: 1040px) {
  .header__head {
    padding-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header__nav {
  display: none;
}

@media (min-width: 1040px) {
  .header__nav {
    display: block;
  }
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 514px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__link {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.header__link a:visited {
  color: white;
}

.header__button {
  display: none;
}

@media (min-width: 1040px) {
  .header__button {
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.29);
    border-radius: 6px;
    color: white;
    font-size: 14px;
    font-weight: 800;
    background-color: transparent;
    width: 138px;
    height: 48px;
  }
}

.about {
  color: white;
  text-align: center;
  background-color: #28293e;
  padding-bottom: 91px;
}

@media (min-width: 1040px) {
  .about {
    padding-bottom: 70px;
  }
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about__title {
  font-weight: 800;
  font-size: 56px;
  margin-bottom: 23px;
}

@media (min-width: 1040px) {
  .about__title {
    font-size: 72px;
    margin-bottom: 35px;
  }
}

.about__description {
  font-size: 16px;
  color: #707070;
  font-weight: 400;
  line-height: 27px;
}

@media (min-width: 1040px) {
  .about__description {
    width: 570px;
  }
}

.works {
  padding-top: 32px;
  padding-bottom: 224px;
}

.works__items {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 48px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 32px;
}

@media (min-width: 1040px) {
  .works__items {
    -ms-grid-columns: (370px)[2];
    grid-template-columns: repeat(2, 370px);
    gap: 30px;
    margin-bottom: 80px;
  }
}

@media (min-width: 1440px) {
  .works__items {
    -ms-grid-columns: (370px)[3];
    grid-template-columns: repeat(3, 370px);
  }
}

@media (min-width: 1840px) {
  .works__items {
    -ms-grid-columns: (370px)[4];
    grid-template-columns: repeat(4, 370px);
  }
}

.works__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.works__load-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.works__button {
  background-color: white;
  width: 170px;
  height: 48px;
  border: 0px solid transparent;
  border-radius: 6px;
  color: #391400;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
}

.categories__list {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 19px;
  padding-bottom: 11px;
  border: 1px solid #f3d1bf;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 48px;
  color: rgba(57, 20, 0, 0.64);
  position: relative;
  z-index: 3;
}

.categories__list img {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  position: absolute;
  right: 16px;
  top: 21px;
  height: 6px;
  width: 10px;
}

@media (min-width: 1040px) {
  .categories__list {
    border: none;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .categories__list img {
    display: none;
  }

  .categories__list span {
    display: none;
  }
}

.categories__list.active img {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.categories__links {
  cursor: pointer;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

@media (max-width: 1039px) {
  .categories__links {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #f3d1bf;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    left: 0;
    z-index: 1;
  }

  .categories__links.active {
    top: 120%;
    opacity: 1;
    pointer-events: all;
  }
}

@media (min-width: 1040px) {
  .categories__links {
    width: 567px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.categories__link {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  display: block;
}

@media (max-width: 1039px) {
  .categories__link.unactive {
    display: none;
  }
}

@media (min-width: 1040px) {
  .categories__link {
    display: block;
  }
}

.item__wrapper {
  height: 416px;
  border: 0px solid transparent;
  border-radius: 6px;
  position: relative;
  max-width: 370px;
  min-width: 280px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.item__button {
  position: absolute;
  padding: 13px 16px 8px 16px;
  top: 256px;
  left: 28px;
  border: 0px solid transparent;
  border-radius: 19px;
}

.item__title {
  color: white;
  font-weight: 800;
  font-size: 40px;
  position: absolute;
  top: 321px;
  left: 28px;
}

@media (min-width: 1040px) {
  .categories__link.active {
    color: #90e149;
  }

  .item__wrapper.active {
    outline: 7px solid #4fe24a;
    border-radius: 6px;
  }
}